@import '/src/styles/variables';

.news-header {
    & > * {
        margin: 1rem 0;
    }

    box-shadow: $box-shadow-light;
    background-color: $color-light-shade;
    padding: 1rem;
    margin: 1rem 0;
}

.subtitle, .author {
    font-weight: 400;
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.title {
    color: $color-primary;
}