@import '/src/styles/variables';

.article {
    height: 20rem;
    box-shadow: $box-shadow-light;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}