@import '/src/styles/variables';

.article {
    height: 15rem;
    box-shadow: $box-shadow-light;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
    mask-image: linear-gradient(180deg, #000 80%, transparent);
}